body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

button {
    font-size: 1rem;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

#google_translate_element {
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}
