body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #333;
    margin: 0;
    padding: 20px; 
  }
  h1 {
    text-align: center;
    color: #ff6a88;
    margin-bottom: 30px; 
  }
  button {
    padding: 10px 15px; 
    background-color: #ff6a88; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: block; 
    margin: 0 auto; 
  }
  button:hover {
    background-color: #ff6a88;
  }
  label {
    margin-top: 20px; 
    display: block; 
    font-weight: bold; 
  }
  select {
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    width: 80%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }
  #keyword-list {
    margin-top: 20px; 
  }
  .keyword-item {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
  }
  
  .container {
    width: 280px;
    color: #314d3e;
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
  }
  
  .textbox {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0px 2px;
  }
  
  .textbox:focus {
    outline: 0;
    border-color:#ff6a88;
  }