body {
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4; 
  color: #333;
  margin: 0;
  padding: 20px; 
}
h1 {
  text-align: center;
  color: #4A90E2; 
  margin-bottom: 30px; 
}
button {
  padding: 10px 15px; 
  background-color: #4A90E2; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  display: block; 
  margin: 0 auto; 
}
button:hover {
  background-color: #357ABD; 
}
label {
  margin-top: 20px; 
  display: block; 
  font-weight: bold; 
}
select {
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 20px; 
  width: 80%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}
#keyword-list {
  margin-top: 20px; 
}
.keyword-item {
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 10px; 
}

.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bookmark-controls {
  flex: auto;
  text-align: right;
}